.container {
  text-align: center;
}

h2 {
  margin: auto;
}
.window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgb(73, 40, 218);
  width: 700px;
  height: 500px;
  background-color: rgb(178, 188, 207);
}

.window-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

button {
  color: white;
  background-color: black;
  border-radius: 10px;
  height: 30px;
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  display: inline-block;
  width: 150px;
  height: 30px;
  background-color: rgb(126, 134, 148);
  border: 1px solid black;
  line-height: 30px;
  text-align: center;
}

input {
  width: 300px;
  height: 30px;
  font-size: 1rem;
}

.window-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 2rem;
}
