<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <title>CS 4400</title>
</head>
<body>
  <div class="container">
    <div class="window">
      <div class="window-title">
        <h2>Manage Users</h2>
      </div>
      <div class="window-btn">
        <button>Create Employee Role</button>
        <button>Create Customer Role</button>
        <button>Stop Employee Role</button>
        <button>Stop Customer Role</button>
      </div>
      
    </div>
  </div>
</body>
</html>