<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <title>CS 4400</title>
</head>
<body>
  <div class="container">
    <div class="window">
      <div class="window-title">
        <h2>View Stats</h2>
      </div>
      <div class="window-btn">
        <button>Display Account Stats</button>
        <button type="button" onclick="window.location.href='display_corporation_stats'">Display Corporation Stats</button>
        <button>Display Bank Stats</button>
        <button>Display Customer Stats</button>
        <button>Display Employee Stats</button>
      </div>
      
    </div>
  </div>
</body>
</html>